html{
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#header {
  position: fixed;
  height: 10%;
  width: 100%;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  opacity: .8;
}

#root {
  background-image: url('bg.jpg');
  background-size: 100%;
  height: 92vh;
}

#first-space {
  height: 100vh;
  background-color: red;
  display: flex;
}

#large-left-white {
  height: 100%;
  width: 50%;
  background-color: white;
  border-right-style: solid;
  border-right-color: gray;
  border-right-width: 1px;
}

#two-box-up-down {
  height: 100%;
  width: 50%;
  background-color: white;

  flex-direction: column;
}

#bottom-box {
  height: 50%;
  width: 100%;
  background-color: blue;
}

#top-box {
  height: 50%;
  width: 100%;
  background-color: red;
}

#second-space {
  height: 100vh;
  background-color: black;
}
